# Ambiente virtual
venv/
env/
ENV/
.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Variáveis de ambiente
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
node_modules/


*.sh
**/*.sh

